.start-btn {
    border-radius: 15px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 5px 250px;
}

.btn {
    border: 3px solid;
    border-radius: 15px;
    width: 150px;
    height: 80px;
    margin: 5px 5px 5px 5px;
    font-size: 20px;
}

.mainform {
    text-align: center;
}

.label {
    font-size: 20px;
}